<h1 style="margin-top: 25px">SHOPPING CART</h1>

{{#if cart.length}}
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {{#each cart}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.price}}</td>
          <td>{{this.quantity}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>Empty Cart</p>
{{/if}}