<form action='/api/sessions/login' method='POST'>
  <input id='email' name='email' type='text' placeholder='email' />
  <input id='password' name='password' type='text' placeholder='password' />
  <input type='submit' value='login' />
</form>
<h1>Login github</h1>
<a href='/api/sessions/github'>Entrar con github</a>
<a href='/register'>Registrate</a>